<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
{{>layout/header}}

<!-- content -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
    </tr>
    </thead>
    <tbody>
    {{#members}}
    <tr>
        <th>{{id}}</th>
        <td><a href="/members/{{id}}">{{email}}</a></td>
        <td>{{password}}</td>
    </tr>
    {{/members}}
    </tbody>
</table>

<!-- content -->
{{>layout/footer}}
</body>
</html>