<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
{{>layout/header}}

<!-- content -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
        <th scope="col">edit</th>
    </tr>
    </thead>
    <tbody>
    {{#member}}
    <tr>
        <th>{{id}}</th>
        <td>{{email}}</td>
        <td>{{password}}</td>
        <td><a href="/members/{{id}}/edit" class="btn btn-primary">수정하기</a></td>
    </tr>
    {{/member}}
    </tbody>
</table>
<a href="/members">Go to memberList</a>
<!-- content -->
{{>layout/footer}}
</body>
</html>