<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
{{>layout/header}}

<!-- content -->
<div class="bg-dark text-white p-5">
    <h4>오늘의 명언</h4>
    <h2>{{quote}}</h2>
</div>
<!-- content -->
{{>layout/footer}}
</body>
</html>