<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
{{>layout/header}}

<!-- content -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
        <td><a href="/articles/{{id}}/edit" class="btn btn-primary">수정하기</a></td>
        <td><a href="/articles/{{id}}/delete" class="btn btn-primary">삭제하기</a></td>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/article">전체 목록 보기</a>

<!-- content -->
{{>layout/footer}}
</body>
</html>